:root {
    --color-bg:chartreuse;
}
header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color:var(--color-bg);
    max-height: 12rem;
}

body {
    background: linear-gradient(rgb(49, 161, 49), rgb(52, 143, 52),rgb(56, 255, 56));
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
section {
    margin-top: 1rem;

}

h1 {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#ffffff;
    -webkit-text-stroke: 0.3px black;
    font-size: 1.9rem;

}

h3 {
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}
p {
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


span {
    /* тут ничего нету */
    
}

.header {
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
}

.header_h1 {
    display: flex;
    color: #ffffff;
    -webkit-text-stroke: 0.5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
    grid-column: 2;
    margin: 0 auto;
    max-height: 12rem;
}
.header-img {
    margin-top: 0.8rem;
    margin-left: 2rem;
    max-height: 60%;
    grid-column: 1;
}
.header_span {
    display: flex;
    margin:0 auto;
    grid-column: 3;
    justify-content: center;
    align-items: center;
    max-height: 12rem;
}

.header_span_a {
    font-size: 1.2rem;
    flex-direction: column;
    padding: 0 2rem;
    font-style: italic;
    text-decoration: none;
    color: #289e3c;
}

.hero_section {
    background: var(--color-bg);
    min-width: 98%;
}

.hero_section_span {
    max-height: 50rem;
    display: grid;
    grid-template-columns: 66%, 33%;
}
.hero_section_h2 {
    margin: 1rem;
    margin-bottom: 0.5rem;
}

.hero_section_p {
    margin-left: 1rem;
}
.hero_section_img {
    margin-top: 0.8rem;
    margin-left: 2rem;
    max-width: 35%;
    grid-column: 2;
}
.card_section {
    background: var(--color-bg);
    min-width: 98%;
    height: 20rem;
}

.card_section_h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_section_div {
    display: flex;
}

.card_section_card {
    border-radius: 3%;
    min-width: 19%;
    background-color: red;
    margin: 0 auto;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2);
}

.card_section_card_h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.employees_section {
    min-width: 98%;
    background: var(--color-bg);
    height: 70rem;

}

.employees_section_h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.employees_section_guy {
    width:95%;
    padding-left: 1rem;
    margin: 0 auto;
    background-color: orange;
    display: grid;
    grid-template-columns: 70%, 30%;

}
.games_section {
    background-color: var(--color-bg);
    width: 98%;

}
.games_section_game {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}
.games_section_title_h2 {
    display: flex;
    justify-content: center;
}

.games_section_game_h3 {
    margin: 0 auto;
    justify-content: center;
    -webkit-text-stroke: 0.25px black;
    padding-bottom: 1rem;
}
.games_section_game_img {
    align-items: center;
    justify-content: center;
}
.games_section_game--doka2 {
    color: white;
    grid-column: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.games_section_game--rysi {
    color: red;
    grid-column: 2;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}
.games_section_game--left4dead {
    color: blue;
    grid-column: 3;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}
.games_section_game--rust {
    color: purple;
    grid-column: 4;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}
.games_section_game--clash_royale {
    color:deeppink;
    grid-column: 5;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}


.footer-img {
    margin-top: 0.8rem;
    margin-left: 2rem;
    max-height: 60%;
    grid-column: 1;